{# src/PersonalPage/ProyectosBundle/Resources/views/Default/Areas.html.twig #}
{% extends '::menu.html.twig' %}
{% block masmenu %}{% endblock %}
{% block Contenido %}

{% endblock %}
{% block selector %}
		<footer>
			{% set locale = app.request.locale %}
			{% if locale == 'es' %}
			<a href="{{ path('areas', { '_locale': 'en', 'id': miembro['link'] }) }}"><img src="{{ asset('us.jpg') }}" height="40" width="40" >  </a>
			{% elseif locale == 'en' %}
			<a href="{{ path('areas', { '_locale': 'es', 'id': miembro['link'] }) }}"><img src="{{ asset('es.jpg') }}" height="40" width="40" >  </a>
			{% endif %}
		</footer>
{% endblock %}
{% block Nombre %}
	{{miembro['nombre'] ~ " " ~ miembro['paterno'] ~ " " ~ miembro['materno']}}
{% endblock %}
{% block Informacion %}
<div style="text-align: justify">
	{% if miembro['link'] == '' %}
		Recurso no encontrado o inexistente
	{% endif %}
	<span>{{miembro['descripcion']}}</span><br><br>
</div>

{% endblock %}
{% block Imagen %}
	{% if miembro['fotoUrl'] %}
		<img src="http://caii.itmexicali.edu.mx/uploads/images/miembros/{{ miembro['fotoUrl'] }}" height="180" width="110">
	{% else %}
		<img src="{{asset('bundles/img/miembros/unknown-user.gif')}}" height="180" width="110">
	{% endif %}
{% endblock %}